<div class="panel panel-default">
{% if page.goal %}
    {% for item in site.data.dashboard.goals %}
         {% if item.goal == page.goal %}
            <a class="sidebar-panel-heading" href="/{{ item.short }}">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ item.goal }} - {{ item.name }}
                    </h3>
                </div>
            </a>
        {% endif %}
    {% endfor %}

    <div class="list-group">
    {% for indicator in site.indicators %}
        {% if indicator.goal == page.goal %}
            {% assign selected = "" %}
            {% if indicator.goal %}
                {% if indicator.goal == page.goal %}
                    {% assign selected = "active" %}
                {% endif %}
                <a class="list-group-item {{ selected }}" href="/{{ indicator.goal }}-{{ indicator.subgoal }}-{{ indicator.indicator }}">{{ indicator.indicator }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
</div>
