{% for indicator in site.indicators %}
    {% if indicator.goal == page.goal %}
        {% if indicator.subgoal %}
          <div class="panel panel-default" data-toggle="tab" id="{{ indicator.goal }}-{{ indicator.subgoal }}-{{ indicator.indicator }}">
            <div class="panel-heading">
            <h4>
              {{ site.data.bootstrap.label_primary_pullright }}Subgoal {{ indicator.subgoal }} Indicator {{ indicator.indicator }}{{ site.data.bootstrap.label_end }}
            </h4>
            <h3>{{ indicator.title }}</h3>
            {% for dataset in indicator.datasets %}
              <a class="btn btn-default" href="{{ dataset.uri }}">{{ dataset.dataset }}</a><br>
              <div class="progress">
                {{ site.data.bootstrap.progress_done }}{{ dataset.done }}{{ site.data.bootstrap.progress_end}}
                {{ site.data.bootstrap.progress_doing }}{{ dataset.doing }}{{ site.data.bootstrap.progress_end }}
                {{ site.data.bootstrap.progress_todo }}{{ dataset.todo }}{{ site.data.bootstrap.progress_end }}
              </div>

              {% for issue in dataset.issues %}
              {% if issue.issue == 'info' %}<p>{{ site.data.bootstrap.alert_info }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.bootstrap.alert_end }}</p>{% endif %}
              {% if issue.issue == 'todo' %}<p>{{ site.data.bootstrap.alert_todo }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.bootstrap.alert_end }}</p>{% endif %}
              {% if issue.issue == 'doing' %}<p>{{ site.data.bootstrap.alert_doing }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.bootstrap.alert_end }}</p>{% endif %}
              {% if issue.issue == 'done' %}<p>{{ site.data.bootstrap.alert_done }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.bootstrap.alert_end }}</p>{% endif %}
              {% endfor %}
            {% endfor %}
            </div>
            <div class="panel-body">
              <a class="btn btn-danger pull-right" href="{{ site.github.repository_url }}/edit/{{ site.branch }}/{{ indicator.path }}">Edit</a>
              {{ indicator.content | markdownify }}
            </div>
          </div>
        {% endif %}
    {% endif %}
{% endfor %}
