<ul class="nav nav-dashboard.goals">
  <li class="active"><a data-toggle="tab" href="#intro">Intro</a></li>
  {% for item in site.data.dashboard.goals %}
    {% if item.grouping == 'datagov' %}
    <li><a data-toggle="tab" href="#{{ item.goal }}">{{ item.goal }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<div class="tab-content">
  <div id="intro" class="tab-pane fade">
      {% include intro.html %}
  </div>
  {% for item in site.data.dashboard.goals %}
  <div id="{{ item.goal }}" class="tab-pane fade">
      {% include {{ item.goal }}.html %}
  </div>
  {% endfor %}
</div>
